.urdf-panel{
    position:absolute;
    top: 0%;
    right: 0%;
    z-index: 2;
    width:20%;
    height:30%; 
}

.imageViwer-panel{
    height: 100%; 
    width: 100%; 
    /* object-fit: contain;  */
    /* left:-200px; */
    position:absolute;
    top: 0px;
    left: 0px;
    z-index: 1;
}

.joystick-panel{
    position:absolute;
    bottom: 150px;
    right: 150px;
    z-index: 2;
}

.nav-panel{
    position:absolute;
    top: 30%;
    right: 0%;
    z-index: 2;
    width:20%;
    height:30%; 
}